35_Sending_large_messages_in_WCF_NetTcp/ClientWindowsFormsDownload/ClientWindowsFormsDownload/Service References/DownloadService/DownloadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DownloadService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DownloadService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MyFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyFile" nillable="true" type="tns:MyFile" />
</xs:schema>