20_Centralized_exception_handling_in_WCF_by_implementing_IErrorHandler_interface/WindowsClientCalculator/WindowsClientCalculator/Service References/CalculatorService/CalculatorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CalculatorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CalculatorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DividedByZeroFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DividedByZeroFault" nillable="true" type="tns:DividedByZeroFault" />
</xs:schema>